@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color-error: 0, 0, 0;
  --theme-color-primary-50: 255, 254, 245;
  --theme-color-primary-100: 255, 253, 232;
  --theme-color-primary-200: 230, 228, 179;
  --theme-color-primary-300: 205, 205, 132;
  --theme-color-primary-400: 176, 179, 92;
  --theme-color-primary-500: 148, 154, 59;
  --theme-color-primary: 119, 129, 32;
  --theme-color-primary-700: 103, 116, 22;
  --theme-color-primary-800: 88, 103, 13;
  --theme-color-primary-900: 73, 90, 6;
  --theme-color-primary-950: 59, 77, 0;
  --theme-color-dark-50: 255, 248, 245;
  --theme-color-dark-100: 255, 239, 232;
  --theme-color-dark-200: 252, 217, 205;
  --theme-color-dark-300: 249, 194, 178;
  --theme-color-dark-400: 247, 170, 152;
  --theme-color-dark-500: 244, 144, 127;
  --theme-color-dark: 241, 118, 102;
  --theme-color-dark-700: 200, 75, 63;
  --theme-color-dark-800: 159, 40, 34;
  --theme-color-dark-900: 118, 14, 12;
  --theme-color-dark-950: 77, 0, 1;
  --theme-color-primaryBlack: 22, 25, 1;
  --theme-color-primaryWhite: 243, 243, 242;
  --theme-color-darkBlack: 25, 3, 1;
  --theme-color-darkWhite: 243, 242, 242;
  --theme-color-functional-success: 33, 172, 12;
  --theme-color-functional-warning: 227, 115, 24;
  --theme-color-functional-error: 213, 73, 65;
  --theme-color-functional-info: 0, 82, 217;
  --theme-color-extend0: 81, 60, 32;
  --theme-color-extend1: 71, 75, 76;
  --theme-color-extend2: 26, 148, 188;

  --theme-padding-large: 20px;
}
